*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  padding: 0;
  font-family: '-apple-system', system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  background-color: #fefefe;
  color: black;

  @media (prefers-color-scheme: dark) {
    background-color: #151515;
    color: #fefefe;
  }
}

h1,
h2,
h3,
ul,
ol,
dl,
p {
  margin: 0 0 1rem;
}

a {
  @media (prefers-color-scheme: dark) {
    color: #77f;

    &:visited {
      color: #bbb;
    }
  }
}

button,
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select {
  padding: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: 1;
}

button {
  min-width: 2rem;
  border: 0;
  background-color: #1976d2;
  color: #fff;

  &:disabled {
    background-color: #5e758d;
    color: #ddd;
  }
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select {
  background-color: #fff;
  border: 2px solid #1976d2;
  border-radius: 1px;

  @media (prefers-color-scheme: dark) {
    background-color: #202020;
  }
}

input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
}

input[type='text'].ng-invalid.ng-touched,
input[type='number'].ng-invalid.ng-touched,
input[type='email'].ng-invalid.ng-touched,
input[type='password'].ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: crimson;
  box-shadow: 0 0 0 4px rgba(220, 20, 60, 0.1) inset;

  @media (prefers-color-scheme: dark) {
    border-color: #f55;
  }
}

.error-text {
  color: crimson;

  @media (prefers-color-scheme: dark) {
    color: #f55;
  }
}
