$background-color-light: #fdfdfd;
$text-color-light: black;

$background-color-dark: #202020;
$text-color-dark: #fdfdfd;

$primary-color: #1976d2;

$field-border-light: #486684;
$field-border-dark: #f0f0f0;

$field-border-selected-light: #486684;
$field-border-selected-dark: $field-border-dark;

$field-background-light: #f5f5fa;
$field-background-dark: #2a2a2a;

$field-text-selected-light: $text-color-light;
$field-background-selected-light: #eaeaff;
$field-text-selected-dark: $field-background-dark;
$field-background-selected-dark: #bababa;

$success-color-light: green;
$success-color-dark: chartreuse;

$error-color-light: crimson;
$error-color-dark: #f55;

$focus-shadow: 0 0 2px 4px rgba($primary-color, 0.2);
