$primary-color: #1976d2;

$field-border-light: #486684;
$field-border-dark: #f0f0f0;

$field-border-selected-light: #486684;
$field-border-selected-dark: $field-border-dark;

$field-background-light: #f5f5fa;
$field-background-dark: #2a2a2a;

$field-background-selected-light: #eaeaff;
$field-background-selected-dark: #b0b0b0;

$success-color-light: green;
$success-color-dark: chartreuse;

$error-color-light: crimson;
$error-color-dark: #f55;

$focus-shadow: 0 0 2px 4px rgba($primary-color, 0.2);
