fieldset {
  position: relative;
  padding: 4rem 1rem 0;
  margin: 0 0 1rem;
  border-radius: 1px;
}

legend {
  position: absolute;
  top: 1rem;
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.field-block {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
button[type='submit'] {
  width: 100%;
}

@media (min-width: 40rem) {
  .field-block {
    display: flex;
  }

  .field-and-label {
    margin-right: 2rem;
    margin-bottom: 0;
    flex: 0 0 20rem;
  }

  .field-info {
    padding-top: 2rem;
  }

  .field-info-checkbox {
    padding-top: 0;
  }
}

.label-text {
  display: block;
  padding-bottom: 0.5rem;
}

.checkbox-and-label-text {
  position: relative;
  display: flex;
  align-items: flex-start;
}

input[type='checkbox'] {
  margin: 0 1rem;
}

.checkbox-label-text {
  display: inline;
  font-weight: normal;
}

input[type='checkbox'].ng-invalid.ng-touched::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(220, 20, 60, 0.1);
}

.label-text-necessity {
  font-weight: normal;
}

.password-strength-weak {
  color: crimson;
}

.password-strength-fair {
  color: orange;
}

.password-strength-strong {
  color: green;
}

button[type='submit'] {
  width: 100%;
  font-size: 1.2rem;

  @media (min-width: 40rem) {
    max-width: 20rem;
  }
}

.form-submit-success,
.form-submit-error {
  padding: 1rem;
}

.form-submit-success {
  background-color: palegreen;
  color: green;
}

.form-submit-error {
  background-color: blanchedalmond;
}
