<h1>Sign-up</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" data-testid="form">
  <fieldset>
    <legend>Account basics</legend>

    <!-- ******************************************* -->
    <p>
      <label id="username-label">
        <span class="label-text">
          Username
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="text"
          formControlName="username"
          aria-describedby="username-description"
          appErrorMessage="username-errors"
          autocomplete="username"
          data-testid="username"
        />
      </label>
    </p>
    <p class="field-description" id="username-description">
      User name may only contain letters (a-z), numbers (0-9) and an underscore (_).
      Example: beautiful_flower_2020
    </p>
    <app-field-errors controlName="username" id="username-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> User name must be given. </ng-container>
        <ng-container *ngIf="errors.pattern">
          User name contains invalid characters.
        </ng-container>
        <ng-container *ngIf="errors.maxlength">
          User name must have less then 50 characters.
        </ng-container>
        <ng-container *ngIf="errors.taken">
          User name is already taken. Please choose another one.
        </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          Email
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="email"
          formControlName="email"
          aria-describedby="email-description"
          appErrorMessage="email-errors"
          autocomplete="email"
          data-testid="email"
        />
      </label>
    </p>
    <p class="field-description" id="email-description">
      Example: brigitte.bryan@example.org
    </p>
    <app-field-errors controlName="email" id="email-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> Email must be given. </ng-container>
        <ng-container *ngIf="errors.email"> Not a valid email address. </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          Password
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="password"
          formControlName="password"
          aria-describedby="password-description"
          appErrorMessage="password-errors"
          autocomplete="new-password"
          (input)="getPasswordStrength()"
          data-testid="password"
        />
      </label>
    </p>
    <div
      class="field-description password-strength"
      id="password-description"
      *ngIf="passwordStrength$ | async as passwordStrength"
    >
      <div>
        Strength:
        <strong *ngIf="passwordStrength.score < 3" class="password-strength-weak">
          Weak
        </strong>
        <span *ngIf="passwordStrength.score === 3" class="password-strength-fair">
          Fair
        </span>
        <span *ngIf="passwordStrength.score > 3" class="password-strength-strong">
          Strong
        </span>
      </div>
      <div *ngIf="passwordStrength.warning">{{ passwordStrength.warning }}</div>
      <div *ngFor="let suggestion of passwordStrength.suggestions">
        {{ suggestion }}
      </div>
    </div>
    <app-field-errors controlName="password" id="password-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> Password must be given. </ng-container>
        <ng-container *ngIf="errors.weak"> Password is too weak. </ng-container>
      </ng-template>
    </app-field-errors>
  </fieldset>

  <fieldset formGroupName="address">
    <legend>Shipping address</legend>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          Full name
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="text"
          formControlName="name"
          appErrorMessage="name-errors"
          autocomplete="name"
          data-testid="name"
        />
      </label>
    </p>
    <app-field-errors controlName="name" id="name-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> Name must be given. </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          Address line 1
          <span class="label-text-necessity">(optional)</span>
        </span>
        <input
          type="text"
          formControlName="addressLine1"
          aria-describedby="addressLine1-description"
          autocomplete="address-line1"
          data-testid="addressLine1"
        />
      </label>
    </p>
    <p class="field-description" id="addressLine1-description">
      For example, a company name
    </p>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          Street and house number
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="text"
          formControlName="addressLine2"
          appErrorMessage="addressLine2-errors"
          autocomplete="address-line2"
          data-testid="addressLine2"
        />
      </label>
    </p>
    <app-field-errors controlName="addressLine2" id="addressLine2-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required">
          Street and house number must be given.
        </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text">
          City
          <span class="label-text-necessity">(required)</span>
        </span>
        <input
          type="text"
          formControlName="city"
          appErrorMessage="city-errors"
          autocomplete="shipping address-level2"
          data-testid="city"
        />
      </label>
    </p>
    <app-field-errors controlName="city" id="city-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> City must be given. </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text"
          >Postcode <span class="label-text-necessity">(required)</span></span
        >
        <input
          type="text"
          formControlName="postcode"
          appErrorMessage="postcode-errors"
          autocomplete="shipping postal-code"
          data-testid="postcode"
        />
      </label>
    </p>
    <app-field-errors controlName="postcode" id="postcode-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> Postcode must be given. </ng-container>
      </ng-template>
    </app-field-errors>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text"
          >State/Province/Region
          <span class="label-text-necessity">(optional)</span></span
        >
        <input
          type="text"
          formControlName="region"
          aria-describedby="region-description"
          autocomplete="shipping address-level1"
          data-testid="region"
        />
      </label>
    </p>

    <!-- ******************************************* -->
    <p>
      <label>
        <span class="label-text"
          >Country <span class="label-text-necessity">(required)</span></span
        >
        <select
          formControlName="country"
          appErrorMessage="country-errors"
          autocomplete="shipping country"
          data-testid="country"
        >
          <option>Balnibarbi</option>
          <option>Blefuscu</option>
          <option>Brobdingnag</option>
          <option>Glubbdubdrib</option>
          <option>Laputa</option>
          <option>Lilliput</option>
          <option>Luggnagg</option>
        </select>
      </label>
    </p>
    <app-field-errors controlName="country" id="country-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"> Country must be given. </ng-container>
      </ng-template>
    </app-field-errors>
  </fieldset>

  <!-- ******************************************* -->

  <p>
    <button type="submit" [disabled]="!form.valid" data-testid="submit">Submit</button>
  </p>

  <p
    *ngIf="submitProgress === 'success'"
    role="status"
    class="form-submit-success"
    data-testid="status"
  >
    <strong>Sign-up successful</strong>
  </p>
  <p
    *ngIf="submitProgress === 'error'"
    role="status"
    class="form-submit-error"
    data-testid="status"
  >
    <strong>Sign-up error</strong>
  </p>
</form>
