fieldset {
  position: relative;
  border-style: solid none none;
  border-color: gray;
  border-width: 2px;
  border-radius: 2px;
  margin: 0 0 2rem;
  padding: 4rem 0 0;

  @media (min-width: 40rem) {
    padding: 4rem 2rem 0;
  }
}

legend {
  position: absolute;
  top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 0 2rem;

  @media (min-width: 40rem) {
  }
}

.field-block {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
button[type='submit'] {
  width: 100%;
}

@media (min-width: 40rem) {
  .field-block {
    display: flex;
  }

  .field-and-label {
    margin-right: 2rem;
    margin-bottom: 0;
    flex: 0 0 20rem;
  }

  .field-info {
    padding-top: 1.2rem + 0.5rem;
  }

  .field-info-checkbox {
    padding-top: 0;
  }
}

.label-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.necessity-required,
.necessity-optional {
  font-weight: normal;
  font-size: 80%;
}

.necessity-optional {
  color: #666;

  @media (prefers-color-scheme: dark) {
    color: #aaa;
  }
}

.checkbox-and-label-text {
  position: relative;
  display: flex;
  align-items: flex-start;
}

input[type='checkbox'] {
  margin: 0 1rem;
}

.checkbox-label-text {
  display: inline;
  font-weight: normal;
}

input[type='checkbox'].ng-invalid.ng-touched::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(220, 20, 60, 0.1);
}

.plans {
  padding: 0;
  list-style-type: none;

  @media (min-width: 40rem) {
    display: flex;
    margin: 0 -0.5rem;
  }
}

.plan {
  text-align: center;

  @media (min-width: 40rem) {
    flex: 1;
    margin: 0 0.5rem;
  }
}

.plan + .plan {
  margin-top: 1rem;

  @media (min-width: 40rem) {
    margin-top: 0;
  }
}

.plan-label {
  height: 100%;
}

.plan-radio {
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 2px;
  padding: 1.5rem 1rem;
  height: 100%;
  transition-property: border-color, transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.plan-radio:checked + .plan-card {
  transform: scale(1.03);
  border-color: #1976d2;
  background-color: #f0f0f5;

  @media (prefers-color-scheme: dark) {
    border-color: white;
    background-color: #333;
  }
}

.plan-name {
  font-size: 1.5rem;

  @media (min-width: 40rem) {
    font-size: 1.6rem;
  }
}

.plan-description {
  font-weight: normal;

  @media (min-width: 40rem) {
    font-size: 1.2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.password-strength-weak {
  color: crimson;
}

.password-strength-fair {
  color: orange;
}

.password-strength-strong {
  color: green;
}

button[type='submit'] {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;

  @media (min-width: 40rem) {
    max-width: 20rem;
  }
}

.form-submit-success,
.form-submit-error {
  padding: 1rem;
}

.form-submit-success {
  background-color: palegreen;
  color: green;
}

.form-submit-error {
  background-color: blanchedalmond;
}
